src/main/resources/org/bgbm/biovel/drf/tnr/tnrmsg.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://bgbm.org/biovel/drf/tnr/msg" xmlns:tns="http://bgbm.org/biovel/drf/tnr/msg"
  xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
  jxb:version="2.0"
  xmlns:annox="http://annox.dev.java.net"
  jxb:extensionBindingPrefixes="annox"
  elementFormDefault="qualified"
    >
  <xsd:element name="tnrMsg">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="query" maxOccurs="unbounded"
          minOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="tnrRequest">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="taxonName" type="tns:taxonName">
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded"
                ref="tns:tnrResponse">
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="atomisedName">
    <xsd:choice>
      <xsd:element name="uninomial">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="subGenus" minOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="genusPart">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string" />
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="infragenericEpithet"
              minOccurs="0">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string" />
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="specificEpithet" minOccurs="0">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string" />
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="infraspecificEpithet"
              minOccurs="0">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string" />
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="taxonName">
    <xsd:sequence>
    <xsd:element name="fullName">
       <xsd:annotation>
          <xsd:appinfo>
            <jxb:property>
              <jxb:javadoc>
the  full scientific name, with authorship, publication date information
and potentially further taxonomic information.
                </jxb:javadoc>
            </jxb:property>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="canonicalName" minOccurs="1">
      <xsd:annotation>
          <xsd:appinfo>
            <jxb:property>
              <jxb:javadoc>
Canonical name string consisting of only nomenclatural information,
i.e. no authorship or taxonomic hierarchy information
with the exception of the necessary
placements within Genus or Species.
                </jxb:javadoc>
            </jxb:property>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="nameLabel" maxOccurs="unbounded"
        minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="atomisedName" type="tns:atomisedName"
        minOccurs="0"></xsd:element>
      <xsd:element name="authorship" maxOccurs="1"
        minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="rank" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="source">
    <xsd:sequence>
      <xsd:element name="url">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="datasetID">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="datasetName">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="scrutiny">
    <xsd:sequence>
      <xsd:element name="accordingTo" type="xsd:string">
      </xsd:element>
      <xsd:element name="modified" type="xsd:string">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="tnrResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" ref="tns:taxon">
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="unbounded"
          name="otherName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" name="taxonName"
                type="tns:taxonName">
              </xsd:element>
              <xsd:element minOccurs="0" name="info">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" name="url"
                      type="xsd:string">
                    </xsd:element>
                    <xsd:element minOccurs="0" name="acceptedNameUrl">
                      <xsd:complexType>
                        <xsd:sequence></xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="source" type="tns:source">
              </xsd:element>
              <xsd:element name="scrutiny" type="tns:scrutiny">
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="unbounded"
          ref="tns:synonym">
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute use="required" name="checklist"
        type="xsd:string">
      </xsd:attribute>
      <xsd:attribute use="required" name="checklist_url"
        type="xsd:string">
      </xsd:attribute>
      <xsd:attribute use="required" name="checklist_version"
        type="xsd:string">
      </xsd:attribute>
      <xsd:attribute use="required" name="checklist_citation"
        type="xsd:string">
      </xsd:attribute>
      <xsd:attribute use="required" name="status"
        type="xsd:string">
        <xsd:annotation>
              <xsd:appinfo>
                <jxb:property>
                  <jxb:javadoc>
                   Status of the request, possible values are 'ok', 'timeout', 'interrupted'.
                  </jxb:javadoc>
                </jxb:property>
              </xsd:appinfo>
            </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute use="required" name="duration"
        type="xsd:decimal">
        <xsd:annotation>
              <xsd:appinfo>
                <jxb:property>
                  <jxb:javadoc>
                   Duration of the request in milliseconds
                  </jxb:javadoc>
                </jxb:property>
              </xsd:appinfo>
            </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="taxon">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" name="taxonName"
          type="tns:taxonName">
        </xsd:element>
        <xsd:element name="accordingTo" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo>
              <jxb:property>
                <jxb:javadoc>
                  The reference to the source in which the specific
                  taxon concept circumscription is defined or implied -
                  traditionally signified by the Latin "sensu" or "sec."
                  (from secundum, meaning "according to"). For taxa that
                  result from identifications, a reference to the keys,
                  monographs, experts and other sources should be given.

                  Corresponds to
                  http://rs.tdwg.org/dwc/terms/nameAccordingTo
                </jxb:javadoc>
              </jxb:property>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string" />
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="info">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="url" type="xsd:string">
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" ref="tns:classification">
        </xsd:element>
        <xsd:element name="taxonomicStatus" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo>
              <jxb:property>
                <jxb:javadoc>
                  The taxonomic status string like "invalid",
                  "misapplied", "homotypic synonym", "accepted",
                  "synonym".

                  Corresponds to
                  http://rs.tdwg.org/dwc/terms/taxonomicStatus
                </jxb:javadoc>
              </jxb:property>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string" />
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="source" type="tns:source"></xsd:element>
        <xsd:element name="scrutiny" type="tns:scrutiny"></xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="synonym">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" name="taxonName"
          type="tns:taxonName">
        </xsd:element>
        <xsd:element minOccurs="0" name="info">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="url" type="xsd:string"></xsd:element>
              <xsd:element minOccurs="0" name="acceptedNameUrl">
                <xsd:complexType>
                  <xsd:sequence></xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="taxonomicStatus">
          <xsd:annotation></xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"></xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="source" type="tns:source"></xsd:element>
        <xsd:element name="scrutiny" type="tns:scrutiny"></xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="classification">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="kingdom">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"></xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="phylum">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"></xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="class">
          <xsd:annotation>
            <xsd:appinfo>
              <annox:annotate target="getter">@com.fasterxml.jackson.annotation.JsonProperty("class")</annox:annotate>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"></xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="order">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"></xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="family">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"></xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="genus">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"></xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
